.title1 {
  margin: 0%;
  padding-bottom: 0%;

}

.col-2 {
  border: none;
}
.w-10 {
  width: 12%;
}
.mt-10 {
  margin-top: 6rem;
}
.mb-10{
  margin-bottom: 6rem;
}
.hov:hover{
text-decoration: underline;
}
.fs-10{
  font-size: 5rem;
}